.logo{
    margin-left: 25% !important;

}
.first-ul{
    margin-left: 25% !important;
}

li{
    margin-right: 3% !important;
}
li img{
    height: 524px !important;
}
.logo-img{
    height: 60px !important;
    width: 60px;    
}
